#if($pagecount > 0)
	<div class="page_turn" id="pageNo">
	#set($pre = $!{pageIndex} - 1)
	#set($next = $!{pageIndex} + 1)
	#if($pageIndex == 1)
		<a href="$!{currenturl}/1?$!{paramValue}" goto="1">首页</a>
		<a href="$!{currenturl}/$!{pageIndex}?$!{paramValue}" goto="2">上一页</a>
		#else
		<a href="$!{currenturl}/1?$!{paramValue}">首页</a>
		<a href="$!{currenturl}/$!{pre}?$!{paramValue}">上一页</a>
		#end
		#if($pagecount < 10)
			#foreach($foo in [1..$!{pagecount}])
				#if($foo == $!pageIndex)
				<a class="current">$!foo</a>
				#else
				<a href="$!{currenturl}/$foo?$!{paramValue}">$foo</a>
				#end
			#end
		#else
			#if($pageIndex > 7)
				<a href="$!{currenturl}/1?$!{paramValue}">1</a>
				<a href="$!{currenturl}/2?$!{paramValue}">2</a>
				<a href="$!{currenturl}/3?$!{paramValue}">3</a>
				<a href="javascript:;" class="nb">…</a>
				#set($prindex = $pageIndex - 2)
				#if($pagecount > $pageIndex + 2)
					#set($endindex = $pageIndex +2)
				#else
					#set($endindex = $pagecount)
				#end
				#foreach($p in [$prindex..$endindex])
					#if($p == $!pageIndex)
					<a class="current" href="$!{currenturl}/$!p?$!{paramValue}">$!p</a>
					#else
					<a href="$!{currenturl}/$!p?$!{paramValue}">$!p</a>
					#end
				#end		
			#else
				#foreach($foo in [1..7])
				#if($foo == $!pageIndex)
				<a class="current">$!foo</a>
				#else
				<a href="$!{currenturl}/$!foo?$!{paramValue}">$foo</a>
				#end
				#end
				<a href="javascript:;" class="nb">…</a>
				#set($p2index = $pagecount - 2)
				#set($p1index = $pagecount - 1)
				<a href="$!{currenturl}/$!{p2index}?$!{paramValue}">$!{p2index}</a>
				<a href="$!{currenturl}/$!{p1index}?$!{paramValue}">$!{p1index}</a>
				<a href="$!{currenturl}/$!{pagecount}?$!{paramValue}">$!{pagecount}</a>
				
			#end
			
		#end
		#if($pageIndex == $pagecount)
		<a href="javascript:;"  goto="3">下一页</a>
		<a href="javascript:;"  goto="4">末页</a>
		#else
		<a href="$!{currenturl}/$next?$!{paramValue}" >下一页</a>
		<a href="$!{currenturl}/$pagecount?$!{paramValue}">末页</a>
		#end
	</div>
	#end