<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link rel="stylesheet" href="css/usermanager.css">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>

<body>
<div class="user_box">
  <div class="total_box">
    <ul>
      <li class="t_bor_r">
        <div class="t_num">0</div>
        <div class="t_name">新接订单</div>
      </li>
      <li class="t_bor_r t_bor_l">
        <div class="t_num">26</div>
        <div class="t_name">节点提醒</div>
      </li>
      <li class="t_bor_r t_bor_l">
        <div class="t_num">0</div>
        <div class="t_name">待催款</div>
      </li>
      <li class="t_bor_l">
        <div class="t_bg"></div>
        <div class="t_name">个人数据</div>
      </li>
    </ul>
  </div>
  <div class="stat_box">
    <div class="week_t">周数据统计</div>
    <div class="stat_con">
      <div class="s1"></div>
      <div class="s2">
        <table>
          <tr>
            <td width="14%">04-12</td>
            <td width="14%">04-12</td>
            <td width="14%">04-12</td>
            <td width="14%">04-12</td>
            <td width="14%">04-12</td>
            <td width="14%">04-12</td>
            <td width="14%">04-12</td>
          </tr>
        </table>
      </div>
      <div class="clear"></div>
      <div class="s3">
        <table>
          <tr><td class="td1">新接订单</td></tr>
          <tr><td class="td2">未处理</td></tr>
          <tr><td class="td3">新签订单</td></tr>
          <tr><td class="td4">服务中订单</td></tr>
          <tr><td class="td5">服务完成订单</td></tr>
          <tr><td class="td6">完成订单</td></tr>
          <tr><td class="td7">弃单</td></tr>
        </table>
      </div>
      <div class="s4">
        <table>
          <tr class="c1">
            <td width="14%">4</td>
            <td width="14%">12</td>
            <td width="14%">7</td>
            <td width="14%">5</td>
            <td width="14%">12</td>
            <td width="14%">6</td>
            <td width="14%">2</td>
          </tr>
          <tr class="c2">
            <td>4</td>
            <td>12</td>
            <td>7</td>
            <td>5</td>
            <td>12</td>
            <td>6</td>
            <td>2</td>
          </tr>
          <tr class="c3">
            <td>4</td>
            <td>12</td>
            <td>7</td>
            <td>5</td>
            <td>12</td>
            <td>6</td>
            <td>2</td>
          </tr>
          <tr class="c4">
            <td>4</td>
            <td>12</td>
            <td>7</td>
            <td>5</td>
            <td>12</td>
            <td>6</td>
            <td>2</td>
          </tr>
          <tr class="c5">
            <td>4</td>
            <td>12</td>
            <td>7</td>
            <td>5</td>
            <td>12</td>
            <td>6</td>
            <td>2</td>
          </tr>
          <tr class="c6">
            <td>4</td>
            <td>12</td>
            <td>7</td>
            <td>5</td>
            <td>12</td>
            <td>6</td>
            <td>2</td>
          </tr>
          <tr class="c7">
            <td>4</td>
            <td>12</td>
            <td>7</td>
            <td>5</td>
            <td>12</td>
            <td>6</td>
            <td>2</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
</body>
</html>
