
<!-- 名称核准 -->

<div class="zy_l_box">
	<p class="title">当前执行的任务：$!{taskInfo.getName()}</p>
	<div class="tab_box">
		<table>
			<tr>
				<th width="210px">任务描述：</th>
				<td width="300px">$!{taskInfo.getDescription()}</td>
				<th width="220px">服务编号：</th>
				<td width="300px">$!{taskInfo.getProcessInstanceId()}</td>
			</tr>
			<tr>
				<th>公司类型：</th>
				<td>$!{companytype}</td>
				<th>公司名称：</th>
				<td>$!{companymc}</td>
			</tr>
			<tr>
				<th>备选名称1：</th>
				<td>$!{beixmc}</td>
				
				<th>备选名称2：</th>
				<td>$!{beixmc2}</td>
			</tr>
			<tr>
				<th>备选名称3：</th>
				<td>$!{beixmc3}</td>
				
				<th>备选名称4：</th>
				<td>$!{beixmc4}</td>
			</tr>
			<tr>
				<th>主营业务：</th>
				<td>$!{hangytd}</td>
				<th></th>
				<td></td>
			</tr>
			<tr>
				<th>注册地址：</th>
				<td>$!{iszhucdz}</td>
				<th>名称预先核准文号：</th>
				<td>$!{mingcyxhz}</td>
			</tr>
			#parse("views/wf/common/company-download.html")
		</table>
	</div>
	<div class="zy_btn">
		<a class="b1" >核名通过</a> <a class="b2">核名未通过</a>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function($){
	
	/************ 核名通过 *************************/
	// 点击 - 核名通过
	$(".b1").click(function(){
		WF.showDiv('yiHeZhunDiv');
	});
	
	// 核名通过 - 确定
	$("#yiHeZhunDiv .ok").click(function(){
		if(!WF.validate("yiHeZhunDiv")){
			return;
		}
		// 解除 click 事件，防止二次点击
		$(this).unbind("click");
		
		// 保存企业附件
		WF.updateCompanyAttach("yiHeZhunDiv");
		// 调用流程接口
		var taskData = "&heMingReason=1";
		WF.submitTask("yiHeZhunDiv", taskData);
	});
	
	// 核名通过 - 取消
	$("#yiHeZhunDiv .cancel").click(function(){
		WF.closeDiv('yiHeZhunDiv');
	});
	
	/************ 核名未通过 *************************/
	// 点击 - 核名未通过
	$(".b2").click(function(){
		WF.showDiv('tuiHuiDiv');
	});
	
	// 核名未通过 - 确定
	$("#tuiHuiDiv .ok").click(function(){
		if(!WF.validate("tuiHuiDiv")){
			return;
		}
		// 解除 click 事件，防止二次点击
		$(this).unbind("click");
		
		// 调用流程接口
		WF.submitTask("tuiHuiDiv");
	});
	
	// 核名未通过 - 取消
	$("#tuiHuiDiv .cancel").click(function(){
		WF.closeDiv('tuiHuiDiv');
	});
});

</script>
<!-- 弹出框 - 已核准 -->
<div id="yiHeZhunDiv" class="white_content">
	<div class="gw_cz_box1" >
		<p class="title">已核准信息</p>
		<table class="t1">
			<input id="qiymczt" type="hidden" value="1" name="inputInfoAll" />
			<tr>
				<th>公司名称：</th>
				<td><input id="companymc" value="$!{companymc}" data-validate="min:8" type="text" name="inputInfoAll" /></td>
			</tr>
			<tr>
				<th>名称预先核准文号：</th>
				<td><input id="mingcyxhz" value="$!{mingcyxhz}" type="text" name="inputInfoAll" /></td>
			</tr>
			<tr>
				<th>核名工商账号：</th>
				<td><input id="hemgszh" value="$!{hemgszh}" type="text" name="inputInfoAll" /></td>
			</tr>
			<tr>
				<th>密码：</th>
				<td>
					<input id="hempassword" value="$!{hempassword}" type="text" name="inputInfoAll" />
				</td>
			</tr>
			<tr>
				<th>核名截图：</th>
				<td>
					<a class="upload_btn" href="javascript:void(0);">上传</a>
					<input type="hidden" name="inputInfoAll" id="hemjt" data-info="inputInfoCompanyAttach" value="$!{hemjt}" />
					<input id="fileupload" type="file" name="fileupload" fileId="hemjt" multiple />
				</td>
			</tr>
		</table>
		<div class="cz_btn">
			<a class="cancel">取消</a> <a class="ok" >确定</a>
		</div>
	</div>
</div>

<!-- 弹出框 - 核名未通过 -->
<div id="tuiHuiDiv" class="white_content">
	<div class="gw_cz_box1" >
		<p class="title">退回信息</p>
		<table class="t1">
			<input id="qiymczt" type="hidden" value="0" name="inputInfoAll" />
			<tr>
				<th>退回原因：</th>
				<td>
					<input type="hidden" name="inputInfoTask" id="checkNameTuiHuiReason" />
					<div class="nice-select4" name="nice-select4">
						<input type="text" value="请选择..." readonly>
						<ul>
							#foreach($lvDicDataEntity in $!{DicUtils.getDicDataList('checkNameTuiHuiReason')})
							<li data-value="$!{lvDicDataEntity.getDataKey()}">$!{lvDicDataEntity.getDataValue()}</li>
							#end
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th>备注：</th>
				<td>
					<textarea type="text" style="height: 100px; width: 190px;" name="inputInfoTask" id="checkNameTuiHuiRemark" ></textarea>
				</td>
			</tr>
		</table>
		<div class="cz_btn">
			<a class="cancel">取消</a> <a class="ok" >确定</a>
		</div>
	</div>
</div>