<!-- 证照归档 -->

<div class="zy_l_box">
	<p class="title">当前执行的任务：$!{taskInfo.getName()}</p>
	<div class="tab_box">
		<table>
			<tr>
				<th width="200px">任务描述：</th>
				<td width="300px">$!{taskInfo.getDescription()}</td>
				<th width="200px">服务编号：</th>
				<td width="300px">$!{taskInfo.getProcessInstanceId()}</td>
			</tr>
			<tr>
				<th >地址类型：</th>
				<td >$!{addressType}</td>
				<th >档案位置编号</th>
				<td >$!{createArchiveID}</td>
			</tr>
			<tr>
				<th >存档人：</th>
				<td >$!{lastEmployersName}</td>
				<th >存放内容：</th>
				<td >营业执照正本、营业执照副本</td>
			</tr>
		</table>
	</div>
	<div class="zy_btn">
		<a class="b1" >完成</a>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function($){
	
	/************ 完成 *************************/
	// 点击 - 完成
	$(".b1").click(function(){
		WF.showDiv('wanChengDiv');
	});
	
	// 完成 - 确定
	$("#wanChengDiv .ok").click(function(){
		if(!WF.validate("wanChengDiv")){
			return;
		}
		// 解除 click 事件，防止二次点击
		$(this).unbind("click");
		
		// 保存企业附件
		WF.updateCompanyAttach("wanChengDiv", "1002");
		// 调用流程接口
		WF.submitTask("wanChengDiv");
		WF.taskFinish();
	});
	
	// 完成 - 取消
	$("#wanChengDiv .cancel").click(function(){
		WF.closeDiv('wanChengDiv');
	});
});

</script>

<!-- 弹出框 - 完成 -->
<div id="wanChengDiv" class="white_content">
	<div class="gw_cz_box1" >
		<p class="title">完成</p>
		<table class="t1">
			<tr>
				<th>营业执照正本：</th>
				<td>
					<a class="upload_btn" href="javascript:void(0);">上传</a>
					<input type="hidden" name="inputInfoTask" data-info="inputInfoCompanyAttach" id="businessLicense1" />
					<input id="fileupload" type="file" name="fileupload" fileId="businessLicense1" multiple />
				</td>
			</tr>
			<tr>
				<th>营业执照副本：</th>
				<td>
					<a class="upload_btn" href="javascript:void(0);">上传</a>
					<input type="hidden" name="inputInfoTask" data-info="inputInfoCompanyAttach" id="businessLicense2" />
					<input id="fileupload" type="file" name="fileupload" fileId="businessLicense2" multiple />
				</td>
			</tr>
		</table>
		<div class="cz_btn">
			<a class="cancel">取消</a> <a class="ok" >确定</a>
		</div>
	</div>
</div>