
<!-- 网上申请 -->

<div class="zy_l_box">
	<p class="title">当前执行的任务：$!{taskInfo.getName()}</p>
	<div class="tab_box">
		<table>
			<tr>
				<th width="150px">任务描述：</th>
				<td width="300px">$!{taskInfo.getDescription()}</td>
				<th width="150px">服务编号：</th>
				<td width="300px">$!{taskInfo.getProcessInstanceId()}</td>
			</tr>
			<tr>
				<th>公司名称：</th>
				<td>$!{name}</td>
				<th>名称预先核准文号：</th>
				<td>$!{checkedNameCode}</td>
			</tr>
			<tr>
				<th>核名工商账号：</th>
				<td>$!{checkNameAccount}</td>
				<th>密码：</th>
				<td>$!{checkNamePassword}</td>
			</tr>
			<tr>
				<th>地址类型：</th>
				<td>$!{addressType}</td>
				<th>产权主体：</th>
				<td>$!{chanQuanType}</td>
			</tr>
			<tr>
				<th>申请方式：</th>
				<td>$!{applyMethod}</td>
				<th>地址合作商：</th>
				<td>$!{addressPartner}</td>
			</tr>
			<tr>
				<th>网登工商账号：</th>
				<td>$!{internetApplyAccount}</td>
				<th>网登密码：</th>
				<td>$!{internetApplyPassword}</td>
			</tr>
			<tr>
				<th>地址类型：</th>
				<td>$!{addressArea}</td>
				<th>地址：</th>
				<td>$!{addressFormat}</td>
			</tr>
			<tr>
				<th >核名截图：</th>
				<td ><input type="hidden" name="taskInfoImg" value="${checkNamePic}" /></td>
				#foreach($legalPerson in $!{EnterpriseUtils.getRoleListByEnterpriseAndRoleType("$!{enterpriseId}", 'legalPerson')})
				<th >法人身份证材料：</th>
				<td ><input type="hidden" name="taskInfoImg" value="$!{legalPerson.get('idPicIds')}"  /></td>
				#end
			</tr>
			#parse("views/wf/common/company-download.html")
		</table>
	</div>
	<div class="zy_btn">
		<a class="b1" >网申通过</a>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function($){
	
	/************ 网申通过 *************************/
	// 点击网申通过
	$(".b1").click(function(){
		//WF.showDiv('wangShenTongGuoDiv');
		// 调用流程接口
		var taskData = "&applyInternetReason=1&TiJiaoWangShangApplyFlag=1";
		WF.submitTask("",taskData);
		WF.taskFinish();
	});
	
	// 网申通过 - 确定
	$("#wangShenTongGuoDiv .ok").click(function(){
		if(!WF.validate("wangShenTongGuoDiv")){
			return;
		}
		// 解除 click 事件，防止二次点击
		$(this).unbind("click");
		// 更新企业库
		WF.updateCompanyInfo("wangShenTongGuoDiv", "", "1002");
		
		// 调用流程接口
		var taskData = "&applyInternetReason=1&TiJiaoWangShangApplyFlag=1";
		WF.submitTask("wangShenTongGuoDiv", taskData);
		WF.taskFinish();
		
	});
	
	// 网申通过 - 取消
	$("#wangShenTongGuoDiv .cancel").click(function(){
		WF.closeDiv('wangShenTongGuoDiv');
	});
	
	/************ 退回 *************************/
	// 点击退回
	$(".b2").click(function(){
		WF.showDiv('tuiHuiDiv');
	});
	
	// 退回 - 确定
	$("#tuiHuiDiv .ok").click(function(){
		if(!WF.validate("tuiHuiDiv")){
			return;
		}
		// 解除 click 事件，防止二次点击
		$(this).unbind("click");
		
		// 调用流程接口
		var taskData = "&applyInternetReason=0";
		WF.submitTask("tuiHuiDiv", taskData);
		WF.taskFinish();
	});
	
	// 退回 - 取消
	$("#tuiHuiDiv .cancel").click(function(){
		WF.closeDiv('tuiHuiDiv');
	});
	
});

</script>
<!-- 网申通过 - 弹出框 -->
<div id="wangShenTongGuoDiv" class="white_content">
	<div class="gw_cz_box1" >
		<p class="title">网申通过</p>
		<table class="t1">
			<tr>
				<th>网登工商账号：</th>
				<td><input id="internetApplyAccount" type="text" name="inputInfoAll" value="$!{internetApplyAccount}" /></td>
			</tr>
			<tr>
				<th>网登工商密码：</th>
				<td><input id="internetApplyPassword" type="text" name="inputInfoAll" value="$!{internetApplyPassword}" /></td>
			</tr>
		</table>
		<div class="cz_btn">
			<a class="cancel">取消</a> <a class="ok" >确定</a>
		</div>
	</div>
</div>
<!--退回 - 弹出框 -->
<div id="tuiHuiDiv" class="white_content">
	<div class="gw_cz_box1" >
		<p class="title">退回</p>
		<table class="t1">
			<tr>
				<th>退回原因：</th>
				<td>
					<input type="hidden" name="inputInfoTask" id="wangDengTuiHuiReason" value="$!{wangDengTuiHuiReasonKey}" />
					<div class="nice-select4" name="nice-select4">
						<input type="text" value="请选择..." readonly>
						<ul>
							#foreach($lvDicDataEntity in $!{DicUtils.getDicDataList('wangDengTuiHuiReason')})
							<li data-value="$!{lvDicDataEntity.getDataKey()}">$!{lvDicDataEntity.getDataValue()}</li>
							#end
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<th>退回描述：</th>
				<td>
					<textarea type="text" style="height: 100px; width: 190px;" name="inputInfoTask" id="wangDengTuiHuiRemark" ></textarea>
				</td>
			</tr>
		</table>
		<div class="cz_btn">
			<a class="cancel">取消</a> <a class="ok" >确定</a>
		</div>
	</div>
</div>