<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link rel="stylesheet" href="/css/usermanager.css">
</head>
<body>
<div class="user_box">
  <div class="staff_list">
    <div class="hright">
      <div class="demo">  
        <div class="tabcon" id="normalcon">
          <div class="sublist">
            <table>
              <tbody>
              <tr id="mima2">
                <th></th>
                <td>
                  <span>下单成功！</span>
                </td>
              </tr>
            </tbody></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>     

</body>
</html>
